<!-- <div class="footer">
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
</div> -->


<div class="footer">
    <div class="footerimg"> <a href="/home"><img src="/imgs/logo.png" alt=""></a></div>

    <div class="footerinfos">
      <div class="footone">
          <div class="foottitle">VE's Other Projects</div>
          <div class="footlables">
              <div class="footlabel"><a href="/payallathe"></a> Pay All Atheletes</div>
              <div class="footlabel">Pay All Atheletes</div>
              <div class="footlabel">Pay All Atheletes</div>
          </div>
      </div>
      <div class="footone">
        <div class="foottitle">VE's Other Projects</div>
        <div class="footlables">
            <div class="footlabel">Pay All Atheletes</div>
            <div class="footlabel">Pay All Atheletes</div>
            <div class="footlabel">Pay All Atheletes</div>
        </div>
      </div>
      <div class="footone">
        <div class="foottitle">VE's Other Projects</div>
        <div class="footlables">
            <div class="footlabel">Pay All Atheletes</div>
            <div class="footlabel">Pay All Atheletes</div>
            <div class="footlabel">Pay All Atheletes</div>
        </div>
      </div>
      <div class="footone">
        <div class="foottitle">VE's Other Projects</div>
        <div class="footlables">
            <div class="footlabel">Pay All Atheletes</div>
            <div class="footlabel">Pay All Atheletes</div>
            <div class="footlabel">Pay All Atheletes</div>
        </div>
      </div>
    </div>
</div>