<!-- <div class="footer">
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
</div> -->


<div class="footer">
    <div class="footerimg"> <a href="/home"><img src="/imgs/logo.png" alt=""></a></div>

    <div class="footerinfos">
      <div class="footone">
          <div class="foottitle">VE's Other Projects</div>
          <div class="footlables">
              <div class="footlabel"><a href="/payallathe">Pay All Atheletes</a></div>
              <div class="footlabel">Von Elijah App</div>
              <div class="footlabel">Development</div>
          </div>
      </div>
      <div class="footone">
        <div class="foottitle">Your Fitness</div>
        <div class="footlables">
            <div class="footlabel">Why</div>
            <div class="footlabel">Training</div>
            <div class="footlabel">Workout Tips</div>
        </div>
      </div>
      <div class="footone">
        <div class="foottitle">Contact Us</div>
        <div class="footlables">
            <div class="footlabel f"><img src="/imgs/facebook.png" alt="" class="facebook"> Facebook</div>
            <div class="footlabel f"><img src="/imgs/instagram.png" alt=""> Instagram</div>
            <div class="footlabel f"><img src="/imgs/twitter.png" alt=""> Twitter</div>
            <div class="footlabel f"><img src="/imgs/pinterest.png" alt="" class="pin"> Pintrest</div>
        </div>
      </div>
      <div class="footone">
        <div class="foottitle">Affiliate Businesses</div>
        <div class="footlables">
            <div class="footlabel">Top 1</div>
            <div class="footlabel">Top 2</div>
            <div class="footlabel">Top 3</div>
        </div>
      </div>
    </div>
</div>