<div class="footer">
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
</div>