<div class="fullpage">
    <div class="nav">
        <div class="navbar">
            <div class="logodetails">
                <div class="img"><a href="/home"><img src="/imgs/logo.png" alt=""></a></div>
            </div>
            <div class="navbtns">
                <div class="navbtn"><a href="/">Gyms</a></div>
                <div class="navbtn"><a href="/pricing">Pricing</a></div>
                <div class="navbtn"><a href="/">Personal Trainers</a></div>
                <div class="navbtn"><a href="/">Sign up</a></div>
                <div class="navbtn"><a href="/">Login</a></div>
            </div>
        </div>
    </div>
</div>