<form action="/loginedgym" method="post">
    <div class="service" style="position: absolute;">
        <input name="service" type="text" value=<%= s %>>
        <%= s %>
    </div>
    <div class="topsec" style="position: absolute;" >
        <%= no %>
        <input name="number" type="text" value=<%= no %>>
    </div>

    <div class="fullpage">
        <div class="nav">
            <div class="navbar">
                <div class="logodetails">
                    <div class="img"><a href="/home"><img src="/imgs/logo.png" alt=""></a></div>
                </div>
                <div class="navbtns">
                    <div class="navbtn">
                        <!-- <a href="/loginedgym">Gyms</a> -->
                        <button type="submit">GYMS</button>
                    </div>
                    <div class="navbtn"><a href="/pricing">Pricing</a></div>
                    <div class="navbtn"><a href="/">Personal Trainers</a></div>
                    <div class="navbtn"><a href="/sign">Sign up</a></div>
                    <div class="navbtn"><a href="/login">Login</a></div>
                </div>
            </div>
        </div>
    </div>
</form>