<form action="/setting" method="post">
    <div class="lid">
      <input name="ida" type="text" value=<%=id %> >
    </div>
    <div class="profileinfo" id="pinfo">
      <div class="pemail">
        <div class="ni">
          <div class="ll"><img src="/imgs/image4.jpg" alt="" class="proimga"></div>
          <div class="dd">
            <h5 class="namee">
              <%= name %>
            </h5>
            <p class="emaill">
              <%= email %>
            </p>
          </div>
        </div>
        <div class="oinfo">
          <div class="setting" id="sett"><button type="submit">Setting</button></div>
          <div class="setting" id="gyms">My Gyms</div>
          <div class="setting" id="pho" onclick="photo()">Photo</div>
          <div class="setting" id="bookmsg">Book Massage</div>
          <div class="setting" id="bookp">Book Physical Therapy</div>
          <div class="setting" id="log"><a href="/signup">Log Out</a></div>
        </div>
  </form>
  <form action="/photo" method="post">
    <div class="lid">
      <input name="ida" type="text" value=<%=id %> >
    </div>
    <button type="submit" id="photo">sub</button>
  </form>