<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="/home.css"> -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/price.css">
    <title>Pricing</title>
</head>

<body>


    <div class="donatee">
        <div class="dbtn">
          <div class="valuee">
            <div class="leftarr"><img src="/imgs/right-arrow.png" alt="" onclick="decrease()""></div>
            <div class="amt">$ <span class="amtvalue" id="amtv">10</span></div>
            <div class="rightarr"><img src="/imgs/right-arrow.png" alt="" onclick="incerease()"></div>
          </div>
          <div class="submit">Donate</div>
        </div>
      </div>
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start navbar">
              <div class="flex flex-shrink-0 items-center">
                <a href="/loginedhome"><img class="block h-8 w-auto lg:hidden" src="/imgs/logo.png" alt="Your Company"></a>
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="/loginedhome" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns" aria-current="page">Home</a>
        
                    <a href="/loginedgyms" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium navbtns red">Gyms</a>
        
                    <a href="/personaltrainer" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns">Personal Trainers</a>
        
                    <a href="/loginedpricing" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns">Pricing</a>
      
                    <a href="/signup" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns">Login/Register</a>
      
  </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pt-2 pb-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/home" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>
      
            <a href="/gyms" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Gyms</a>
      
            <a href="/personaltrainer" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Personal Trainers</a>
      
            <a href="/pricing" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium red">Pricing</a>
    
            <a href="/signup" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Login/Register</a>
          </div>
        </div>
      </nav>

    <div class="pricetopp">
        No more excuses. TODAY, you will start your life-long journey to reach your personal fitness goals.
    </div>
    <div class="pricesec">
        <div class="pricing pricing1">
            <div class="pricedis">
                <div class="topt">Personal Trainers</div>
            </div>
            <div class="price">
                <div class="sign">$</div>
                <div class="valueee">49</div>
                <div class="month">/month</div>
            </div>
            <div class="pricedis">
                <div class="topp">Train clients virtually or in-person</div>
                <!-- <div class="btn">National Gyms or Studio Memberships</div> -->
            </div>
            <div class="pricebtns">
                <div class="pricebtn economical">Economical</div>
                <div class="pricebtn premimum">Premimum</div>
            </div>
            <div class="container container1" style="text-align: left;">
                <div class="row text">
                    <div class="col">Find Client Easily</div>
                    <!-- <div class="col">24 Hour Fitness</div> -->
                </div>
                <div class="row  text">
                    <div class="col">Train clients virtually or in-person</div>
                    <!-- <div class="col">Planet Fitness </div> -->
                </div>
                <div class="row  text">
                    <div class="col">Post your profile so thousands of clients can find you</div>
                    <!-- <div class="col">Snap Fitness</div> -->
                </div>
                <!-- <div class="row  text">
                    <div class="col">Glo </div>
                    <div class="col">Academy of Self Defense </div>
                </div>
                <div class="row  text">
                    <div class="col">BeyondFit Mom </div>
                    <div class="col">PVolve</div>
                </div>
                <div class="row  text">
                    <div class="col"></div>
                    <div class="col"></div>
                </div> -->
            </div>
            <!-- <div class="message1">
                Schedule 1 Free Massage every 4 months
            </div>
            <div class="message2">
                Schedule 1 Free Physical Therapy session every 4 months
            </div> -->
            <div class="pricebtns">
                <a href="/signin"><div class="pricebtn pay">Sign Up</div></a>
            </div>
            <!-- <div class="pricebtns" onclick="promo1()" id="promobtn">
                <div class="pricebtn promocode">Use Promo Code</div>
            </div> -->
            <div class="promo" id="promoinput1">
                <form action="/promo" method="post">
                    <input type="text" placeholder="Enter Promo Code" name="promocode">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>

        <div class="pricing pricing2">
            <div class="pricedis">
                <div class="topt">Access up to 4 National Gyms</div>
            </div>
            <div class="price">
                <div class="sign">$</div>
                <div class="valueee">149</div>
                <div class="month">/month</div>
            </div>
            <div class="pricedis">
                <div class="top">Select Up to 4</div>
                <!-- <div class="btn">National Gyms or Studio Memberships</div> -->
            </div>
            <div class="pricebtns">
                <div class="pricebtn economical">Economical</div>
                <div class="pricebtn premimum">Premimum</div>
            </div>
            <div class="container" style="text-align: left;">
                <div class="row text">
                    <div class="col">Gold's Gym</div>
                    <div class="col">24 Hour Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Crunch Fitness</div>
                    <div class="col">Planet Fitness </div>
                </div>
                <div class="row  text">
                    <div class="col">Fitness Connection</div>
                    <div class="col">Snap Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Glo </div>
                    <div class="col">Academy of Self Defense </div>
                </div>
                <div class="row  text">
                    <div class="col">BeyondFit Mom </div>
                    <div class="col">PVolve</div>
                </div>
                <div class="row  text">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <!-- <div class="message1">
                Schedule 1 Free Massage every 4 months
            </div>
            <div class="message2">
                Schedule 1 Free Physical Therapy session every 4 months
            </div> -->
            <div class="pricebtns">
                <a href="/signin"><div class="pricebtn pay">Sign Up</div></a>
            </div>
            <!-- <div class="pricebtns" onclick="promo2()" id="promobtn">
                <div class="pricebtn promocode">Use Promo Code</div>
            </div> -->
            <div class="promo" id="promoinput2">
                <form action="/promo2" method="post">
                    <input type="text" placeholder="Enter Promo Code" name="promocode">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>




        <div class="pricing pricing2">
            <div class="pricedis">
                <div class="topt">Access up to 15 National Gyms</div>
            </div>
            <div class="price">
                <div class="sign">$</div>
                <div class="valueee">499</div>
                <div class="month">/month</div>
            </div>
            <div class="pricedis">
                <div class="top">Select Up to 4</div>
                <!-- <div class="btn">National Gyms or Studio Memberships</div> -->
            </div>
            <div class="pricebtns">
                <div class="pricebtn economical">Economical</div>
                <div class="pricebtn premimum">Premimum</div>
            </div>
            <div class="container" style="text-align: left;">
                <div class="row text">
                    <div class="col">Gold's Gym</div>
                    <div class="col">24 Hour Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Crunch Fitness</div>
                    <div class="col">Planet Fitness </div>
                </div>
                <div class="row  text">
                    <div class="col">Fitness Connection</div>
                    <div class="col">Snap Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Glo </div>
                    <div class="col">Academy of Self Defense </div>
                </div>
                <div class="row  text">
                    <div class="col">BeyondFit Mom </div>
                    <div class="col">PVolve</div>
                </div>
                <div class="row  text">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <!-- <div class="message1">
                Schedule 1 Free Massage every 4 months
            </div>
            <div class="message2">
                Schedule 1 Free Physical Therapy session every 4 months
            </div> -->
            <div class="pricebtns">
                <a href="/signin"><div class="pricebtn pay">Sign Up</div></a>
            </div>
            <!-- <div class="pricebtns" onclick="promo2()" id="promobtn">
                <div class="pricebtn promocode">Use Promo Code</div>
            </div> -->
            <div class="promo" id="promoinput2">
                <form action="/promo2" method="post">
                    <input type="text" placeholder="Enter Promo Code" name="promocode">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>
    </div>
        

    <%- include('../partials/fotter.ejs'); %>


    <script>
        function promo2(){
            console.log("jii");
            let promobtn = document.getElementById("promoinput2");
            let filteroptions = document.getElementById("promoinput2");
            const element = document.querySelector('#promoinput2')
            const style = getComputedStyle(element);
            console.log(style.display);
            if(style.display == "none"){
                filteroptions.style.display = "block";
            }
            else{
                filteroptions.style.display = "none";
            }
        }

        function promo1(){
            console.log("jii");
            let promobtn = document.getElementById("promoinput1");
            let filteroptions = document.getElementById("promoinput1");
            const element = document.querySelector('#promoinput1')
            const style = getComputedStyle(element);
            console.log(style.display);
            if(style.display == "none"){
                filteroptions.style.display = "block";
            }
            else{
                filteroptions.style.display = "none";
            }
        }
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>



<script>
    function incerease(){
       let value = document.getElementById("amtv").innerText;
       console.log("HELLO");
       document.getElementById("amtv").innerText++;
    }

    function decrease(){
       let value = document.getElementById("amtv").innerText;
       if(value >1){
        document.getElementById("amtv").innerText--;
       }
    }
</script>
</body>

</html>