<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/login.css"> -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/slick.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/lo.css">
    <link rel="stylesheet" href="/login.css">
    <title>Login Page</title>
</head>

<body>
    <form action="/donatedvalue" method="post">
        <input type="text" name="donateamt" id="donateamt">
        <div class="dva">
          <div class="value">
            <div class="leftarr"><img src="/imgs/right-arrow.png" alt="" onclick="decrease()""></div>
                <div class=" amt">$ <span class="amtvalue" id="amtv">10</span></div>
            <div class="rightarr"><img src="/imgs/right-arrow.png" alt="" onclick="incerease()"></div>
          </div>
        </div>
        <div class="donatee" onclick="donate()">
          <div class="dbtn">
            <div class="submit"><button type="submit" id="donatesubmit">Donate</button></div>
          </div>
        </div>
      </form>

    <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start navbar">
          <div class="flex flex-shrink-0 items-center logo">
            <a href="/home"><img class="block h-8 w-auto lg:hidden" src="/imgs/logo.png" alt="Your Company"></a>
          </div>
          
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/home" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium red navbtns" aria-current="page">Home</a>
  
              <a href="/gyms" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns">Gyms</a>
  
              <a href="/normaltrainer" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns">Personal Trainers</a>
  
              <a href="/pricing" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns">Pricing</a>

              <a href="/signup" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns">Login/Register</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="/home" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium navbtns" aria-current="page">Home</a>
  
        <a href="/gyms" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium navbtns">Gyms</a>
  
        <a href="/normaltrainer" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium navbtns">Personal Trainers</a>
  
        <a href="/pricing" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium navbtns">Pricing</a>

        <a href="/signup" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium navbtns">Login/Register</a>
      </div>
    </div>
  </nav>

        <div class="form">
            <div class="img">
                <img src="/imgs/login.jpg" alt="">
            </div>
            <div class="formsec">
                <div class="top">Sign In</div>
                <form action="/signup" method="post">
                    <div class="inputs">
                        <label for="Email">Email</label>
                        <input type="text" placeholder="Email" name="email">
                        <label for="">Password</label>
                        <input type="text" placeholder="Password" name="password">
                    </div>

                    <button type="submit" class="sub">Submit</button>
                    <div class="forgottern">Forget Password</div>
                </form>
                <div class="create"><a href="/signin">Create a new account</a></div>
                <div class="ortxt">OR</div>
                <div class="twobtns">
                    <div class="create cgoogle" id="goggle">
                        <div></div>
                        <form action="/formed" class="formm" method="post">
                            <input type="text" name="google" id="google">
                            <input type="text" name="displayname" id="display">
                            <button type="submit" id="googlesub">submit</button>
                        </form>
                    </div>
                    <div class="create cfacebook" id="facebook">
                        <div id="g"></div>
                        <form action="/facebook" class="formm" method="post">
                            <input type="text" name="facebook" id="google">
                            <input type="text" name="facebookname" id="display">
                            <button type="submit" id="facebooksub">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/fotter.ejs'); %>
            <script>
                // import { getAuth, signInWithPopup, FacebookAuthProvider } from "firebase/auth";


            </script>
<script>
    function donate() {
      document.getElementById("donateamt").value = document.getElementById("amtv").innerHTML;
      document.getElementById('donatesubmit').click();
    }
  </script>
  <script>
    function incerease() {
      let value = document.getElementById("amtv").innerText;
      console.log("HELLO");
      document.getElementById("amtv").innerText++;
    }

    function decrease() {
      let value = document.getElementById("amtv").innerText;
      if (value > 1) {
        document.getElementById("amtv").innerText--;
      }
    }

    function submit() {
      document.getElementById('subbtn').click();
    }
  </script>
            <script type="module">
                // Import the functions you need from the SDKs you need
                import { initializeApp } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js";
                import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-analytics.js";
                import { getAuth, signInWithPopup, GoogleAuthProvider, FacebookAuthProvider } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-auth.js";
                // TODO: Add SDKs for Firebase products that you want to use
                // https://firebase.google.com/docs/web/setup#available-libraries

                // Your web app's Firebase configuration
                // For Firebase JS SDK v7.20.0 and later, measurementId is optional
                const firebaseConfig = {
                    apiKey: "AIzaSyDd-DsQ38yY83aNzmqcYdGhMsvwSKhYHIA",
                    authDomain: "gymweb-5b70c.firebaseapp.com",
                    projectId: "gymweb-5b70c",
                    storageBucket: "gymweb-5b70c.appspot.com",
                    messagingSenderId: "359101237722",
                    appId: "1:359101237722:web:4cfd10850e4b1e6e2798e3",
                    measurementId: "G-JML252RCZJ"
                };

                // Initialize Firebase
                const app = initializeApp(firebaseConfig);
                const analytics = getAnalytics(app);

                document.querySelector("#goggle").addEventListener("click", google);
                document.querySelector("#facebook").addEventListener("click", facebook);

                function facebook() {
                    // import { getAuth, signInWithPopup, FacebookAuthProvider } from "firebase/auth";
                    const provider = new FacebookAuthProvider();
                    const auth = getAuth();
                    signInWithPopup(auth, provider)
                        .then((result) => {
                            // The signed-in user info.
                            const user = result.user;

                            // This gives you a Facebook Access Token. You can use it to access the Facebook API.
                            const credential = FacebookAuthProvider.credentialFromResult(result);
                            const accessToken = credential.accessToken;

                            // ...
                        })
                        .catch((error) => {
                            // Handle Errors here.
                            const errorCode = error.code;
                            const errorMessage = error.message;
                            // The email of the user's account used.
                            const email = error.customData.email;
                            // The AuthCredential type that was used.
                            const credential = FacebookAuthProvider.credentialFromError(error);

                            // ...
                        });
                }
                function google() {

                    const provider = new GoogleAuthProvider();
                    //    from "firebase/auth";

                    const auth = getAuth();
                    signInWithPopup(auth, provider)
                        .then((result) => {
                            // This gives you a Google Access Token. You can use it to access the Google API.
                            const credential = GoogleAuthProvider.credentialFromResult(result);
                            const token = credential.accessToken;
                            // The signed-in user info.
                            const user = result.user;
                            document.getElementById("google").value = user.email;
                            document.getElementById("display").value = user.displayName;
                            document.getElementById("googlesub").click();
                            console.log(user);
                            // ...
                        }).catch((error) => {
                            // Handle Errors here.
                            const errorCode = error.code;
                            const errorMessage = error.message;
                            // The email of the user's account used.
                            const email = error.customData.email;
                            // The AuthCredential type that was used.
                            const credential = GoogleAuthProvider.credentialFromError(error);
                            console.log(error);
                            // ...
                        });

                }
            </script>
</body>

</html>