<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/personal.css">
    <link rel="stylesheet" href="/twopricing.css">
    <link rel="stylesheet" href="/payallathe.css">
    <title>Pay All Athelist</title>
</head>
<body>
    <div class="donate">
        <div class="dbtn">
            <div class="value">
                <div class="leftarr"><img src="/imgs/right-arrow.png" alt="" onclick="decrease()""></div>
                <div class="amt">$ <span class="amtvalue" id="amtv">10</span></div>
                <div class="rightarr"><img src="/imgs/right-arrow.png" alt="" onclick="incerease()"></div>
            </div>
          <div class="submit">Donate</div>
        </div>
      </div>
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start navbar">
              <div class="flex flex-shrink-0 items-center logo">
                <a href="/home"><img class="block h-8 w-auto lg:hidden" src="/imgs/logo.png" alt="Your Company"></a>
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/home" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>
      
                  <a href="/gyms" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Gyms</a>
      
                  <a href="/personaltrainer" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Personal Trainers</a>
      
                  <a href="/pricing" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Pricing</a>
    
                  <a href="/signup" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login/Register</a>
    
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="athet">
            <div class="title">Pay All Athletes</div>
            <div class="stitle">Comming Soon</div>
        </div>

        <div class="amid">
            <div class="left">
                <div class="lt">what pay all atheletes is all about</div>
                <div class="ld">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur adipisci consequatur, maxime voluptatum numquam excepturi nihil. Id soluta iusto fuga quae, mollitia rem magnam expedita assumenda, quam enim odio nobis?
                Aliquid, inventore eos sapiente perspiciatis atque nostrum quas est doloribus at, aperiam placeat cupiditate mollitia sed fugit consequuntur impedit eveniet. Tempore soluta libero harum suscipit, eum incidunt nostrum vel velit.</div>
            </div>
            <div class="r">
                <img src="/imgs/image4.jpg" alt="">
            </div>
        </div>
        <div class="ab">
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
        </div>
      
        <%- include('../partials/fotter.ejs'); %>

</body>
</html>