<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/price.css">
    <title>Pricing</title>
</head>

<body>
    <%- include('../partials/header.ejs'); %>
    <div class="pricesec">
        <div class="pricing pricing1">
            <div class="price">
                <div class="sign">$</div>
                <div class="value">150</div>
                <div class="month">/month</div>
            </div>
            <div class="pricedis">
                <div class="top">Select Up to 4</div>
                <div class="btn">National Gyms or Studio Memberships</div>
            </div>
            <div class="container" style="text-align: left;">
                <div class="row text">
                    <div class="col">Gold’s Gym</div>
                    <div class="col">24 Hour Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Crunch Fitness</div>
                    <div class="col">Planet Fitness </div>
                </div>
                <div class="row  text">
                    <div class="col">Fitness Connection</div>
                    <div class="col">Snap Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Glo </div>
                    <div class="col">Academy of Self Defense </div>
                </div>
                <div class="row  text">
                    <div class="col">BeyondFit Mom </div>
                    <div class="col">PVolve</div>
                </div>
                <div class="row  text">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="message1">
                Schedule 1 Free Massage every 4 months
            </div>
            <div class="message2">
                Schedule 1 Free Physical Therapy session every 4 months
            </div>
            <div class="pricebtns">
                <div class="pricebtn">Economical</div>
                <div class="pricebtn">Premimum</div>

            </div>
        </div>

        <div class="pricing pricing2">
            <div class="price">
                <div class="sign">$</div>
                <div class="value">150</div>
                <div class="month">/month</div>
            </div>
            <div class="pricedis">
                <div class="top">Select Up to 4</div>
                <div class="btn">National Gyms or Studio Memberships</div>
            </div>
            <div class="container" style="text-align: left;">
                <div class="row text">
                    <div class="col">Gold's Gym</div>
                    <div class="col">24 Hour Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Crunch Fitness</div>
                    <div class="col">Planet Fitness </div>
                </div>
                <div class="row  text">
                    <div class="col">Fitness Connection</div>
                    <div class="col">Snap Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Glo </div>
                    <div class="col">Academy of Self Defense </div>
                </div>
                <div class="row  text">
                    <div class="col">BeyondFit Mom </div>
                    <div class="col">PVolve</div>
                </div>
                <div class="row  text">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="message1">
                Schedule 1 Free Massage every 4 months
            </div>
            <div class="message2">
                Schedule 1 Free Physical Therapy session every 4 months
            </div>
            <div class="pricebtns">
                <div class="pricebtn">Economical</div>
                <div class="pricebtn">Premimum</div>

            </div>
        </div>
    </div>
        

    <%- include('../partials/fotter.ejs'); %>
</body>

</html>