<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/price.css">
    <title>Pricing</title>
</head>

<body>
    <%- include('../partials/header.ejs'); %>
    <div class="pricesec">
        <div class="pricing pricing1">
            <div class="price">
                <div class="sign">$</div>
                <div class="value"><%= 150-value1%></div>
                <div class="month">/month</div>
            </div>
            <div class="pricedis">
                <div class="top">Select Up to 4</div>
                <div class="btn">National Gyms or Studio Memberships</div>
            </div>
            <div class="container" style="text-align: left;">
                <div class="row text">
                    <div class="col">Gold's Gym</div>
                    <div class="col">24 Hour Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Crunch Fitness</div>
                    <div class="col">Planet Fitness </div>
                </div>
                <div class="row  text">
                    <div class="col">Fitness Connection</div>
                    <div class="col">Snap Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Glo </div>
                    <div class="col">Academy of Self Defense </div>
                </div>
                <div class="row  text">
                    <div class="col">BeyondFit Mom </div>
                    <div class="col">PVolve</div>
                </div>
                <div class="row  text">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="message1">
                Schedule 1 Free Massage every 4 months
            </div>
            <div class="message2">
                Schedule 1 Free Physical Therapy session every 4 months
            </div>
            <div class="pricebtns">
                <div class="pricebtn">Economical</div>
                <div class="pricebtn">Premimum</div>

            </div>
            <div class="pricebtns">
                <div class="pricebtn pay">Sign Up</div>
            </div>
            <div class="pricebtns" onclick="promo1()" id="promobtn">
                <div class="pricebtn promocode">Use Promo Code</div>
            </div>
            <div class="promo" id="promoinput1">
                <form action="/promo" method="post">
                    <input type="text" placeholder="Enter Promo Code" name="promocode">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>

        <div class="pricing pricing2">
            <div class="price">
                <div class="sign">$</div>
                <div class="value"><%= 500-value1 %></div>
                <div class="month">/month</div>
            </div>
            <div class="pricedis">
                <div class="top">Select Up to 4</div>
                <div class="btn">National Gyms or Studio Memberships</div>
            </div>
            <div class="container" style="text-align: left;">
                <div class="row text">
                    <div class="col">Gold's Gym</div>
                    <div class="col">24 Hour Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Crunch Fitness</div>
                    <div class="col">Planet Fitness </div>
                </div>
                <div class="row  text">
                    <div class="col">Fitness Connection</div>
                    <div class="col">Snap Fitness</div>
                </div>
                <div class="row  text">
                    <div class="col">Glo </div>
                    <div class="col">Academy of Self Defense </div>
                </div>
                <div class="row  text">
                    <div class="col">BeyondFit Mom </div>
                    <div class="col">PVolve</div>
                </div>
                <div class="row  text">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="message1">
                Schedule 1 Free Massage every 4 months
            </div>
            <div class="message2">
                Schedule 1 Free Physical Therapy session every 4 months
            </div>
            <div class="pricebtns">
                <div class="pricebtn">Economical</div>
                <div class="pricebtn">Premimum</div>

            </div>
            <div class="pricebtns">
                <div class="pricebtn pay">Sign Up</div>
            </div>
            <div class="pricebtns" onclick="promo2()" id="promobtn">
                <div class="pricebtn promocode">Use Promo Code</div>
            </div>
            <div class="promo" id="promoinput2">
                <form action="/promo2" method="post">
                    <input type="text" placeholder="Enter Promo Code" name="promocode">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>
    </div>
        

    <%- include('../partials/fotter.ejs'); %>


    <script>
        function promo2(){
            console.log("jii");
            let promobtn = document.getElementById("promoinput2");
            let filteroptions = document.getElementById("promoinput2");
            const element = document.querySelector('#promoinput2')
            const style = getComputedStyle(element);
            console.log(style.display);
            if(style.display == "none"){
                filteroptions.style.display = "block";
            }
            else{
                filteroptions.style.display = "none";
            }
        }

        function promo1(){
            console.log("jii");
            let promobtn = document.getElementById("promoinput1");
            let filteroptions = document.getElementById("promoinput1");
            const element = document.querySelector('#promoinput1')
            const style = getComputedStyle(element);
            console.log(style.display);
            if(style.display == "none"){
                filteroptions.style.display = "block";
            }
            else{
                filteroptions.style.display = "none";
            }
        }
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>