<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/home.css">
  <link rel="stylesheet" href="/personal.css">
  <link rel="stylesheet" href="/twopricing.css">
  <link rel="stylesheet" href="/wrong.css">
  <link rel="stylesheet" href="/acheckout.css">
  <link rel="stylesheet" href="/final.css">
  <title>Loading....</title>
</head>

<body>
    <%- include('../partials/header.ejs'); %>
    <!-- let amount = req.query.amount;
        let id = req.query.id;
        let names = req.query.names;
        let gymsemails =req.query.emails;
        email=req.query.email;
        finalprice= req.query.finalprice;
        no=req.query.no;
        plan= req.query.plan;
        paymentId= req.query.paymentId;
        token=req.query.token;
        PayerID=req.query.PayerID; -->

    <form action="/settinggymschange" method="post">
        <input type="text" name="names" id="names">
        <input type="text" name="id" id="id" value="<%= id %>">
        <button type="submit" id="login">Submit</button>
    </form>
    <!-- <script>
      setTimeout(function(){
          document.getElementById("login").click();
      }, 2000);
    </script> -->
</body>
<script>
   document.getElementById("names").value= localStorage.getItem("names");
   document.getElementById("login").click();
</script>

</html>