<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/home.css">
  <link rel="stylesheet" href="signup.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
</head>
<body>

  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start navbar">
          <div class="flex flex-shrink-0 items-center logo">
           <a href="/home" class="singimg"><img class="block h-8 w-auto lg:hidden" src="/imgs/logo.png" alt="Your Company"></a>
          </div>
          <div class="signtitle">Sign-Up Now</div>
        </div>
      </div>
    </div>
  </nav>
  <div >
    <form action="/signindetails" method="post" class="form">
    <div class="formm">
      <div class="formleft">
        <div class="detail">
          <label for="">First Name</label>
          <input type="text" name="firstname" placeholder="First name">
        </div>
        <div class="detail">
          <label for="">Email</label>
          <input type="text" name="email" placeholder="Email">
        </div>
        <div class="detail">
          <label for="">Register as</label>
          <!-- <input type="text" name="registeras" placeholder=""> -->
          <select>  
            <option value = "PersonalTrainer">Personal Trainer</option>  
            <option value = "User">User</option> 
          </select>  
        </div>
        <div class="detail">
          <label for="">City/State</label>
          <input type="text" name="city" placeholder="City/State">
        </div>
        <div class="detail">
          <label for="">Address</label>
          <input type="text" name="address" placeholder="address">
        </div>
        <div class="detail">
          <label for="">Apt/Suite/Unite(optional)</label>
          <input type="text" name="apt">
        </div>
        <div class="detail">
          <label for="">Emergency Contact Phone Number</label>
          <input type="number" name="emergency" placeholder="Emergency Contact Phone Number">
        </div>
        <div class="detail">
          <label for="">Password</label>
          <input type="password" name="password" placeholder="************">
        </div>
        <div class="detail">
          <label for="">Confirm Password</label>
          <input type="password" name="confirmpassword" placeholder="*************">
        </div>
      </div>
      <div class="formright">
        <div class="detail">
          <label for="">Last Name</label>
          <input type="text" name="lastname" placeholder="Last name">
        </div>
        <div class="detail">
          <label for="">Phone No</label>
          <input type="text" name="phoneno" placeholder="Phone No">
        </div>
        <div class="detail">
          <label for="">Plan</label>
          <select>  
            <option value = "less">PERSONAL TRAINERS - $49.99/MONTH</option> 
            <option value = "less">ACCESS UP TO 5 GYMS - $149.99/MONTH</option>  
            <option value = "large">ACCESS UP TO 15 GYMS - $499.99/MONTH</option> 
          </select>  
        </div>
        <div class="detail">
          <label for="">Feature</label>
          <select>  
            <option value = "less">Economical</option> 
            <option value = "less">Premimum</option>  
          </select>  
        </div>
        <div class="detail">
          <label for="">Date Of Birth</label>
          <input type="date" name="city" placeholder="City/State">
        </div>
        <div class="detail gender">
          <label for="">Gender</label>
          <div class="checkboxes">
            <input type="checkbox" name="male" id=""><Label>Male</Label>
            <input type="checkbox" name="female" id=""><Label>Female</Label>
            <input type="checkbox" name="other" id=""><Label>Other</Label>
            <input type="checkbox" name="prefer" id=""><Label>Prefer not to say</Label>
          </div>
        </div>
        <div class="detail">
          <label for="">Emergency Contact Name</label>
          <input type="text" name="emergencyname">
        </div>
        <div class="detail">
          <label for="">Emergency Contact Email</label>
          <input type="text" name="emergencyemail" placeholder="Emergency Contact Phone Number">
        </div>
        <div class="detail">
          <label for="">Bio</label>
          <textarea type="text" name="bio" placeholder="Discription............"></textarea>
        </div>
      </div>
    </div>
    <div class="signinsubmit">
      <div class="warn">By Clicking Sign-up, you agree to VE's <a href="">Terms and Conditions of Use</a></div>
      <!-- <button type="submit">Submit</button> -->
      <button onclick="pay()"><a href="/https://buy.stripe.com/test_aEU288ejr3ibgYUcMN" id="pay">Submit</a></button>
      <div class="login">Have a account? <a href="/signup">Log-in</a></div>
    </div>
    </form>
  </div>
  <%- include('../partials/fotter.ejs'); %>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
//     const form = document.querySelector(".form");
//       form.addEventListener("submit", event => {
//       event.preventDefault();
// });

    function pay(){
      // document.getElementById("pay").click();
      window.location = "/https://buy.stripe.com/test_aEU288ejr3ibgYUcMN";  
    }
  </script>
</body>
</html>