<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/personal.css">
    <link rel="stylesheet" href="/twopricing.css">
    <title>Personal Trainer</title>
</head>
<body>
    <div class="donate">
        <div class="dbtn">
            <div class="value">
                <div class="leftarr"><img src="/imgs/right-arrow.png" alt="" onclick="decrease()""></div>
                <div class="amt">$ <span class="amtvalue" id="amtv">10</span></div>
                <div class="rightarr"><img src="/imgs/right-arrow.png" alt="" onclick="incerease()"></div>
            </div>
          <div class="submit">Donate</div>
        </div>
      </div>
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start navbar">
              <div class="flex flex-shrink-0 items-center">
                <img class="block h-8 w-auto lg:hidden" src="/imgs/logo.png" alt="Your Company">
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/home" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>
      
                  <a href="/gyms" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Gyms</a>
      
                  <a href="/personaltrainer" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Personal Trainer</a>
      
                  <a href="/pricing" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Pricing</a>
    
                  <a href="/login-register" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login/Register</a>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pt-2 pb-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/home" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Home</a>
      
            <a href="/gyms" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Gyms</a>
      
            <a href="/personaltrainer" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Personal Trainer</a>
      
            <a href="/pricing" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Pricing</a>
    
            <a href="/login-register" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Login/Register</a>
          </div>
        </div>
      </nav>


      <div class="pricingdis">
            <div class="pricingt">Purchase a minimum of <span id="pricemonth" id="monthval">4</span></div>
            <div class="pricingbtns">
                <div class="btns">
                    <div class="btn btn1 btn2">Back</div>
                </div>
                <div class="btns">
                    <div class="btn btn2">Let's Do It</div>
                </div>
            </div>
      </div>

      <div class="monthprice">
        <div class="pricee">
            <div class="signn">$</div>
            <div class="valuee"><span id="monthval">499</span>.99</div>
            <div class="monthh"><span id="monthno">4 </span> /month</div>
            <div class="arr">
                <div class="uparr"><img src="/imgs/uparrow.jpg" onclick="incre()" alt=""></div>
                <div class="downarr"><img src="/imgs/uparrow.jpg" onclick="decre()" alt=""></div>
            </div>
        </div>
        <div class="pricee">
            <div class="signn">$</div>
            <div class="valuee"><span class="yearval">2399.99</span></div>
            <div class="monthh"><span id="no"> 4 </span> /Yearly</div>
        </div>
      </div>
    
      <%- include('../partials/fotter.ejs'); %>
      <script>
        function incre(){
           let value = document.getElementById("monthval").innerText;
           console.log(value);
           document.getElementById("monthval").innerText=parseInt(50, 10)+parseInt(document.getElementById("monthval").innerText, 10);
           document.getElementById("monthno").innerText++;
           document.getElementById("pricemonth").innerText++;
        }
  
        function decre(){
           let value = document.getElementById("monthval").innerText;
           if(value >4){
                document.getElementById("monthval").innerText-=50;
                document.getElementById("monthno").innerText--;
                document.getElementById("pricemonth").innerText--;
           }
        }
    </script>



<script>
    function increase(){
        let value = document.getElementById("amtv").innerText;
        console.log("HELLO");
        document.getElementById("amtv").innerText++;
    }
    function decrease(){
        let value = document.getElementById("amtv").innerText;
        console.log("HELLO");
        document.getElementById("amtv").innerText++;
    }
</script>
</body>
</html>