<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
</head>
<body>
    HOME PAGE

1) On the Footer of the website, at the bottom of the page, Please move the 4 sections further to the left some more so the "Donate" button does not block the visibility of the "Affiliate Businesses section" when the user scrolls all the way south of the page, please.
[ DONE ]

2) On the Home Page - Under the "Participating Gyms and Studios Section" ... Can you make the gym logos bigger, please?
[ REMAINING ]



DONATE BUTTON

1) Change the Stripe Payment to PayPal Payment, please
[ DONE FOR HOME PAGE ]

2) When the User's click the "Donate button" and get to the PayPal Payment page, please allow the users to change their donation amount manually by typing in a new amount, please.
[ DONE ]

3) Please make sure that the reduced size images are the ones that are on the Home Page so the Home Page can load quicker
[ DONE AND IF STILL YOU THINK IT SHOULD BE CHANGE THEN FORM ADMIN CAN CHANGE ]

FOOTER

1) The footer must be the same color on every page, please
[ DONE ]

2) There must be a Header and Footer for EVERY PAGE except for the PayPal Payment Page.
(double check to make sure every page has a footer and a Header, including the Sign-Up Form and the Checkout Form, please)
[ DONE ]


vonelijah
Nov 11, 2022, 12:45 AM
ReportSpam
HOME PAGE

3) Please make sure that the reduced size images are the ones that are on the Home Page so the Home Page can load quicker



FOOTER

1) The footer must be the same color on every page, please

2) There must be a Header and Footer for EVERY PAGE except for the PayPal Payment Page.
(double check to make sure every page has a footer and a Header, including the Sign-Up Form and the Checkout Form, please)



PAY ALL ATHLETES
Pay All Athletes button at the bottom of the page,

1) On the landing page, Move the words to the right some more, please
[ DONE ]

2) Use the attached image for the landing page but make the background on the Image black, please
[ DONE ]

GYM TAB AND THE PERSONAL TRAINERS TAB

1) On the Gyms tab, Change the white background from white to a Black Background, please.
(the words beneath the image can have a white background)
(make a small white border around the image of the gym or personal trainer)
[ DONE ]

The attachment is how the gym tab and personal trainers tab should look with black background.

Currently the Gym Tab has a white background behind the image and a white background behind the wording; but I don't want a white background behind the image.

2) Make the Name of the Gym & Personal Trainer appear in Black and it must be bigger than the other items on the page
[ DONE ]


3) Make the City/State of the Gym & Personal Trainer appear in Blue
[ DATA IS NOT ADDED YET ]


4) Make the Bio of the Gym & Personal Trainer appear in Green
[ DATA IS NOT ADDED YET ]

PRICING TAB

1) On the Pricing page,

-- Under the $149 pricing section ONLY, make the words say, "Schedule Free Personal Training Sessions" and remove the "1" from that sentence only, please
[ DONE ]

2) Make sure that the Admins get to select which gyms appears in the Econimical and Premium sections for the $149 package and the $499 package
[  IS THIS MEANS FOR $150, THERE ARE DIFFERNET GYMS OF ECONOMICAL AND PREMIMUM CATEGORY 
  FOR $150, THERE ARE DIFFERNET GYMS OF ECONOMICAL AND PREMIMUM CATEGORY 
]


THE SIGN-UP FORM AND THE PAYMENT FORMS


1) Add the "sign-in with Google" and "Sign-in with facebook" buttons, please
[ REMAINED ]

2) The "Sign-up Now" page needs a header and footer sections that are the same as the home page header and footer buttons
[ DONE] 

3) On the "Sign-up Now" form, make sure the words "Prefer not to say" appears on the same line, please
[ DONE ]

4) On the "Sign-up Now" form, change the title of the categores to the same blue as in the logo, please:
All of the Category words like (First Name, Last Name, Email, Phone Number, Address, Sate, City, Zip, Gender, Emergency Contact, Date of Birth, Apt, Password, etc.)
[ DONE ] 

5) Add the attached "Privacy Question" to the payment form/sign-up form, and add the privacy question to the User's Profile info.

-- If User's select Private then their info will not be posted on the logged in "Personal Trainers" tab
-- If User's select Public then their info will be posted on the logged in "Personal Trainers" tab
[ REMAINING ]

6) For the Password section, when user starts typing, display the password rules that will make for a successful password and after the User passes a rule then show a green check mark next to that rule.
(see attachment "Password Rules"
[ REMAINING ]

BACKEND

1) if any user makes pa*ment for gyms then those gyms will get automatic emails
The gyms selcted will appear in the user's profile along with ALL of the gym options so the User can change gyms.
Changing gyms has a $50 fee.
[ DONE ]


2) if any user makes a request for a massage or makes a request for physical therapy from their profile section, then the massage place and the physical therapy place and the Admins will get ONE automatic email WITH 4 PIECES OF INFO that include:
A - the User's sign-up form
B - the credit card payment form for Von Elijah (see attachment)
C - Include the Gyms Selected by the User and the total number of months that the User purchased
D - A unique code that cannot be repeated (this code is different than the discount price code. this code needs to be unique so we have proof that the User tried to request a massage or physical therapy)
[ REMAINING ]

3) Allow Admins to choose the placement of the words on the top home page images:
-- bottom left of the image
-- middle center of the image
-- bottom right of the image
[ REMAINING ]


4) Admins need a section to edit ALL the website links for the information in the footer at the botton of the page
[ DONE, FROM ADMIN PANEL YOU CAN CHANGE IT ]


LOGGED IN PRICING TAB

1) For the $149 Pricing Option please include the 3 sentences beneatht the gyms, please:

Schedule 1 Free Massage Every 4 Months
Schedule 1 Free Physical Therapy Session Every 4 Months
Schedule Free Personal Training Sessions
[ DONE ]

2) For the $499 Pricing Option please include the 3 sentences beneatht the gyms, please:

Schedule 1 Free Message Every Month
Schedule 1 Free Physical Therapy Session Every Month
Schedule Free Personal Training Sessions
[ DONE ]

3) The "Check-Out Page" page needs a header and footer sections that are the same layout and coloring as the home page header and footer buttons.
(Change the footer coloring from blue to white. see attachement)
[ DONE ]

4) On the "Have an account" sectoin beneath the "Next" button, change the word "Login" to green, please.
(see attachement)
[ DONE ]

5) On the "Check-Out Page" page change the "Apt/Suite/Unite(optional)" to optional.
(Currently that button is required before checkout but that field is optional and should not be required)
[ DONEN ]

6) On the "Check-Out Page" page, delete the 3 items you see in yellow.

-- Move the "Select Gyms" wording to the middle/center of the top of the "Economical" and "Premium" gym titles.
[ THERE ARE NO ITEM FOUND CAN YOU SEND ITS SCREEN SHOOT ]

7) On the "Check-Out Page" page, under the Personal Trainer box,

-- change the pricing to say "$49.99
-- change the wording to say, "Personal Trainers", by adding an "s" to the end of trainer, please.
-- change the color of the "Select" button to the same color blue as shown in the attachment, please.

8 ) On the "Check-Out Page" page, under the $149.99 box,

-- change the pricing to say "$149.99
-- change the wording to say, "select up to 5 gyms", please.
-- leave the color of the "Select" button the color red as shown in the attachment, please.
[ DONE ]


9) On the "Check-Out Page" page, under the $499.99 box,

-- change the pricing to say "$499.99
-- add the words to say, "select up to 15 gyms", please.
-- change the color of the "Select" button to the color blue as shown in the attachment, please.
[ DONE ]

10) On the "Check-Out Page" page, fix the UI layout of the "Checkout Page (3)", please.

-- also delete the 4th page that is shown in the attachment titled "delete this page..."

-- Instead, add the wording that says, "8.25% sales tax" to the bottom center of all 3 boxes, please. then automatically add the 8.25% amount to the total price that shows up on the PayPal checkout page that immediately follows the Checkout Page #3.
(see attachment for example)
[ REMAINING ]


</body>
</html>