form{
    display: flex;
}
.che{
    display: none;
}
.em{
    display: none;
}
#mno, #total{
    display: none;
}
.l input{
    display: none;
}
#ema{
    display: none;
}
#total,#mno{
    display: none;
}
.mp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.taxtitle{
    text-align: center;
}