form{
    display: block;
}
.lid{
    display: block;

}
.lid input{
    display: block;
}
.signtitle{
    margin: 0 auto;
    margin-top: 35px;
}
.red,.text-gray-300{
    position: relative;
    top: 27px;
}
.logo img{
    top: 36px;
}
.signinsubmit{
    width: 63vw;
    margin-left: auto;
    margin-right: auto;
}
#largecheck,#lesscheck{
    display: none;
}
.l input{
    display: none;
}
#ema{
    display: none;
}
#total,#mno{
    display: none;
}
.mp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.formmm{
    display: none;
}
.profileimggg{
    margin-bottom: 39px;

}
.setting a{
    color: gray;
    text-decoration: none;
}