body{
    color: white;
}
.topest{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.top{
    margin: 0 auto;
    border: 1px solid;
    padding: 10px;
    width: 500px;
}
.second{
    display: flex;
    gap: 50px;
}
.sfirst,.ssecond{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    border-radius: 15px;
    gap: 20px;
    width: 320px;
    padding: 15px;
}
.sfirst{
    /* justify-content: space-around; */
}
.ssecond{
    justify-content: space-between;
}
#plan{
    display: none;
}
.select{
    padding: 20px 40px;
    background-color: red;
    border-radius: 50px;
}
.third{
    margin: 20px auto;
}
.last{
    display: flex;
    width: 80vw;
    justify-content: space-around;
}
.horizontal{
    height: 2px;
    width: 40vw;
    background-color: antiquewhite;
}
.ltitle{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.st{
    font-size: 25px;
}
.stx{
    text-align: center;
}
.details{
    display: flex;
    gap: 10px;
}
.gymname{
    display: block;
}
.checkbox {
    width: 15px;
    /* position: relative; */
    left: 140px;
}
.name{
    display: flex;
    align-items: center;
}
.eco{
    display: flex;
    flex-direction: column;
}
.btn{
    padding: 20px 40px;
    background-color: red;
    border-radius: 25px;
}
#submit{
    display: none;
}
.gymeprice{
    display: block;
}
.che{
    opacity: 0;
    display: none;
}
form{
    margin-bottom: 0;
}
.ecogymss{
    display: none;
}
.nonen{
    display: none;
}
.ecogyms{
    display: flex;
    
    margin-top: 40px;

}
.third
{
    display: none;
}
.message1,.message2,.message3{
    text-align: center;
}
#emmail{
    display: none;
}
.select{
    background-color: #89cff0;
}
.selecttitle{
    font-size: 2rem;
    margin: 10px auto;
    margin-top: 20px;
}
.formmm{
    display: none;
}
.premimuss{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 11px;
}
.flexxx{
    display: flex;
    gap: 10px;
}
.name{
    display: flex;
}
.det{
    font-size: 0.7rem;
    color: gray;
    margin-left: 5px;
}
.sel2{
    background-color: red;
    border: 2px solid red;
}
.sper{
    display: flex;
    justify-content: baseline!important;
}
#personal{
    justify-content: baseline!important;
}
.fb{
    margin-top: 86px;

}