.l input{
    display: none;
}
#ema{
    display: none;
}
#total,#mno{
    display: none;
}
.mp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
form{
    display: block;
}
#largecheck,#lesscheck{
    display: none;
}