form{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    display: none;
}
.monthprice{
    margin-top: 0px;
}
.pricingdis{
    display: flex;
    align-items: center;
}
.che{
    opacity: 0;
    display: none;
}