.navbar{
    display: flex;
    justify-content: space-between;
}
@media (min-width: 1024px){
    .lg\:hidden {
        display: block;
    }
}

body{
    background-color: black!important;
}
.home{
    display: flex;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
.slides{
    /* background: url(imgs/first.jpg); */
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex!important;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.slide2{
    background: url(imgs/second.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex!important;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.slide3{
    background: url(imgs/third.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex!important;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.midtitle{
    font-size: 3rem;
    width: 434px;
}
.dis{
    text-align: center;
}
.btns{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.btn{
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89cff0;
    border-color: #46b5e8;
    padding: 2px 15px;
}
.btn2{
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e46050;
    border-color: #d64230;
    padding: 2px 15px;
}
.midsec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slick-dots {
    bottom: 10px;
}
.slick-dots li button:before
    {
        font-size:13px;
        line-height: 20px;
        opacity: 0.8;
        color: white;
    }
    .slick-dots li.slick-active button:before {
        color: red;
    }
.slick-next {
    right: 20px;
}
.slick-prev {
    left: 17px;
    z-index: 2000;
}




.gym1{
    background: url(imgs/gymlogo2.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 18vh;
    margin: 0 20px;
}
.more{
    color: white;
}
.gymsectitle{
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}
.gymsec {
    width: 96vw;
    margin: 80px auto;
}
.info{
    border: 1px solid;
    border-radius: 6px;
    margin: 0 10px;
    padding: 20px 10px;
}
.moreinfos{
    color: white;
}
.infosec{
    width: 96vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.infot{
    font-size: 1.2rem;
    color: #89cff0;
    margin-bottom: 20px;
}
.infodis{
    color: #494F55;
    color: white;
}


.footer{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 20px;
    background-color: #1e2022;
    padding-bottom:30px ;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;

}
.footerimg img{
    width: 200px;
}
.footerinfos{
    display: flex;
    gap: 40px;
    left: -15vw;
    position: relative;
}
.foottitle{
    margin-bottom: 10px;
}
.foottitle:hover{
    cursor: pointer;
}
.footlabel:hover{
    cursor: pointer;
}
.dva{
    position: fixed;
    bottom: 10vh;
    right: 136px;
    z-index: 5;
}
.donatee {
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #00ff00;
    border-color: rgb(49, 190, 49);
    padding: 0px 15px;
    display: flex;
    width: 200px;
    position: fixed;
    justify-content: space-evenly;
    bottom: 12vh;
    right: 20px;
    z-index: 1;
    flex-direction: row;
    color: white;
    background-color: green;
    border-color: rgb(49, 190, 49);
}
.donate{
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: green;
    border-color: rgb(49, 190, 49);
    padding: 0px 15px;
    display: flex;
    width: 200px;
    position: fixed;
    bottom: 12vh;
    right: 20px;
    z-index: 3000;
    flex-direction: row;
    color: white;
}
.dbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.value{
    color: white;
    width: 80px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 20px;
    position: relative;
    left: -17px;
    display: flex;
    background-color: green;
}
.amt{
    display: flex;
    position: relative;
    left: -10px;
    font-size: 25px;
}
.leftarr img{
    width: 10px;
    transform: rotate(180deg);
    max-width: 20px;
    
    position: relative;
    left: -14px;
    top: 12px;

}
.rightarr img{
    width: 10px;
    max-width: 20px;
    
    position: relative;
    left: -6px;
    top: 12px;

}
/* .main{
    background-color: #1a202c;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
} */
.gyminfo {
    background-color: white;
    padding: 0!important;
    height: 590px;
    border-radius: 0px;
    border: 1px solid white;
}
.profileimg{
    height: 60%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gymname {
    font-size: 25px!important;
}
.profileimg img {
    width: auto; 
    height: auto;
}
.allgyms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.star img{
    width: 20px;
}
.stars{
    display: flex;
    justify-content: center;
}
.gymtitle{
    font-size: 30px;
    margin: 10px auto;
    color: white;
    display: flex;
    justify-content: center;
}


#searchbyname, #searchbycity, #searchbystate, #searchbyzip,#options{
    display: none;
}
.display{
    display: flex;
    gap: 10px;
}
.searchuser form{
    position: absolute;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 20px;
    top: 58px;
}
.serachicon{
    position: relative;
    right: 7px;
    top: 1px;
}
.searchuser input{
    border:2px solid #1652F0;
}
.btna{
    background-color: #0A46E4;
    padding: 5px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.searchspace{
    display: flex;
    gap: 10px;
}
form{
    z-index: 3;
}
svg path{
    fill:white;
  }


.gyms .slick-prev.slick-disabled:before {
    opacity: .25;
    position: relative;
    left: -100px!important;
}
.gyms .slick-next:before {
    position: relative;
    right: -18px;
}
.moreinfos .slick-next:before{
    position: relative;
    right: -18px;
}
.moreinfos .slick-prev.slick-disabled:before{
    position: relative;
    left: -12px;
}
.slick-next,.slick-prev {
        background: url(/imgs/right-arrow.png);
    width: 27px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slick-next:before {
    content: '';
}
.slick-prev:before {
    content: '';
}
.slick-prev {
    transform: rotate(180deg);
}
.home .slick-next:focus,.home .slick-prev:focus {
    background: url(/imgs/right-arrow.png);
    width: 27px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gyms .slick-next:focus,.slick-prev:focus {
    background: url(/imgs/right-arrow.png);
    width: 27px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gyms .slick-next {
    right: -5px;
}
.gyms .slick-prev {
    left: -7px;
    top: 73px;

}
/* .gyms .slick-next:focus{
    position: relative;
    left: 95vw;
    top: -60px;
} */
.info{
    height: 210.8px;
}
.infosec .slick-next {
    right: -5px;
}

.infosec .slick-next:focus,.slick-prev:focus {
    background: url(/imgs/right-arrow.png);
    width: 27px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.state{
    color: black;
    margin: 0;
}
#searchbyname, #searchbycity, #searchbystate, #searchbyzip{
    width: 367px;
}
.red{
    background-color: red;
}
.font-medium:hover{
    background-color: red;
}
.slides img{
    /* position: absolute; */
    width: 100%;
    position: relative;
    width: 100%;
    left: 500px;
    z-index: -1;
/*     
    width: 100vw;
    top: 0px;
    left: 1px; */


}
.midsec{
    position: relative;
    left: -50vw;
    z-index: 1000;
}
.midtitle{
    text-align: center;
    width: 1000px;
}
/* .gyms img{
    object-fit: cover;
    height: 212px;
} */
.gyms .slick-track{
    display: flex;
    gap: 1px;
}
.gyms .slick-track {
    display: flex;
    gap: 1px;
    position: relative;
    left: -1vw;
    width: fit-content!important;
}
/* .home:hover
    cursor: pointer;
} */

.infosec .slick-prev {
    left: -7px;
    top: 86px;
}
nav{
    background-color: black!important;
}

.infosec .slick-initialized .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.midtitle,.dis{
    font-size: 2rem;
    width: 1000px;
}
.line2{
    color: blue;
}
.line3{
    color: green;
}
.disss{
    display: block!important;
}
.iddd input,.idd button{
    display: none!important;
}
.gyms .btnsubbb{
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 10px;
}
.gyms img{
    width: 80%!important;
}
.logo img{
    position: relative;
    left: 50px;
}
.space-x-4{
    right: 50px;
    position: relative;
}
.profileimggg img{
    width: 40px;
    height: 40px;
    border-radius: 60%;
    border: 1px solid white;
}
.hidden{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profileimggg{
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    gap: 10px;
}
.profileinfo{
    display: none;
    position: absolute;
    border: 1px solid gray;
    right: 46px;
    width: 300px;
    z-index: 5;
    color: white;
    top: 47px;
    background-color: black;
    padding-top: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.ni{
    display: flex;
    background-color: gray;
    padding: 15px;
    align-items: center;
}
.dd{
    display: flex;
    flex-direction: column;
}
.oinfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    color: gray;
}
.ll img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.namee{
    font-size: 20px;
}
.emaill{
    font-size: 14px;
}
.lid{
    position: absolute;
    opacity: 1;
}
.userinfo{
    display: flex;
    flex-direction: column;
}
.usertop{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.identity{
    font-size: 15px;
    margin: 0 auto;
    color: gray;
}
.name{
    font-size: 18px;
    margin: 0 auto;
}
.userinfo{
    color: white;
    margin: 50px auto;
}
.userinfo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.userinfo .img{
    display: flex;
    justify-content: center;
}
.editinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ebtn{
    width: 500px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 25px;
}
input{
    width: 500px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 25px;
    background: transparent;
}
.elabel{
    display: flex;
    flex-direction: column;
}
.edd{
    display: flex;
    justify-content: center;
}
textarea{
    width: 500px;
    height: 200px;
    background: transparent;
    border: 1px solid gray;
    border-radius: 10px;
}
.lid input{
    display: none;
}
.applybtn{
    margin: 10px auto;

}
.applyform{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sendreq{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: white;
    margin-top: 50px;
}
.profileimggg img:hover{
    cursor: pointer;
}
#ddd:hover{
    cursor: pointer;
}
.footlables img{
    width: 25px;
}
.footlabel{
    display: flex;
    gap: 10px;
}
.facebook{
    filter: grayscale(1) invert(1); 
}
.pin{
    filter: grayscale(1) invert(1);
}
.f{
    margin: 5px 0;
}
.gyms form{
    height: 150px;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.imgdetails{
    display: flex;
    justify-content: center;
}
#donateamt{
    display: none;
}
.hhh img{
    width: 10rem;
}