.navbar{
    display: flex;
    justify-content: space-between;
}
@media (min-width: 1024px){
    .lg\:hidden {
        display: block;
    }
}

body{
    background-color: black!important;
}
.home{
    display: flex;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
.slides{
    background: url(imgs/first.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex!important;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.slide2{
    background: url(imgs/second.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex!important;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.slide3{
    background: url(imgs/third.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex!important;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.midtitle{
    font-size: 3rem;
    width: 434px;
}
.dis{
    text-align: center;
}
.btns{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.btn{
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89cff0;
    border-color: #46b5e8;
    padding: 2px 15px;
}
.btn2{
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e46050;
    border-color: #d64230;
    padding: 2px 15px;
}
.midsec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slick-dots {
    bottom: 10px;
}
.slick-dots li button:before
    {
        font-size:13px;
        line-height: 20px;
        opacity: 0.8;
        color: white;
    }
    .slick-dots li.slick-active button:before {
        color: red;
    }
.slick-next {
    right: 3px;
}
.slick-prev {
    left: 0;
    z-index: 2000;
}




.gym1{
    background: url(imgs/gymlogo2.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 18vh;
    margin: 0 20px;
}
.more{
    color: white;
}
.gymsectitle{
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}
.gymsec{
    width: 96vw;
    margin: 0 auto;
}
.info{
    border: 1px solid;
    border-radius: 6px;
    margin: 0 10px;
    padding: 20px 10px;
}
.moreinfos{
    color: white;
}
.infosec{
    width: 96vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.infot{
    font-size: 1.2rem;
}
.infodis{
    color: #494F55;
}


.footer{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 20px;
    background-color: #494F55;
    padding-bottom:30px ;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.footerimg img{
    width: 200px;
}
.footerinfos{
    display: flex;
    gap: 20px;
}
.foottitle{
    margin-bottom: 10px;
}

.donate{
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #00ff00;
    border-color: rgb(49, 190, 49);
    padding: 0px 15px;
    display: flex;
    width: 200px;
    position: fixed;
    bottom: 12vh;
    right: 20px;
    z-index: 3000;
    flex-direction: row;
    color: white;
}
.dbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.value{
    width: 70px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 20px;
    position: relative;
    left: -17px;
    background-color: #00ff00;
}
/* .main{
    background-color: #1a202c;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
} */
.gyminfo {
    background-color: white;
    padding: 0!important;
    height: 450px;
    border-radius: 0px;
}
.profileimg{
    background: url(/imgs/image4.jpg);
    height: 60%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}
.gymname {
    font-size: 25px!important;
}
.profileimg img {
    width: auto; 
    height: auto;
}
.allgyms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.star img{
    width: 20px;
}
.stars{
    display: flex;
    justify-content: center;
}
.gymtitle{
    font-size: 30px;
    margin: 10px auto;
    color: white;
    display: flex;
    justify-content: center;
}