body{
    background-color: black;
    columns: white;
}
.pricing{
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid;
}
.price{
    display: flex;
    justify-content: center;
    color: white;
}
.value{
    font-size: 3rem;
}
.pricedis{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(255, 144, 28);
}
.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    margin: 0 auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.col {
    flex: 1 0;
}
.row>* {
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.pricebtn{
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    background: #e32a2a;
    color: #fff !important;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
    border: 1px solid red;
}
.pricebtns{
    display: flex;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
}
.pricesec{
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 100px auto;
}
.sign{
    font-size: 20px;
}
.pay{
    margin-top: 20px;
}
.pay:hover{
    cursor: pointer;
}
.promocode{
    cursor: pointer;
    margin-top: 20px;
}

/* .pricing1:hover{
    transform: scale(1.1);
    z-index: 1000;
}
.pricing2:hover{
    transform: scale(1.1);
    z-index: 1000;
} */
.promo{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    display: none;
}
.promo input{
    width: 50%;
    border: 1px solid red;
    height: 30px;
}
@media (min-width: 1024px){
.lg\:hidden {
    display: block;
}
}


.donatee{
    border-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #00ff00;
    border-color: rgb(49, 190, 49);
    padding: 0px 15px;
    display: flex;
    width: 200px;
    position: fixed;
    bottom: 12vh;
    right: 20px;
    z-index: 3000;
    flex-direction: row;
    color: white;
}
.dbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.valuee{
    width: 70px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 20px;
    position: relative;
    left: -17px;
    display: flex;
    background-color: #00ff00;
}
.amt{
    display: flex;
    
    position: relative;
    left: -19px;

}
.leftarr img{
    width: 20px;
    transform: rotate(180deg);
    max-width: 20px;
    
    position: relative;
    left: -19px;
    top: 3px;

}
.rightarr img{
    width: 20px;
    max-width: 20px;
    
    position: relative;
    left: -19px;
    top: 3px;

}
.pricebtns{
    margin-bottom: 10px;
}
.promocode {
    cursor: pointer;
    margin-top: 10px;
}
.container{
    color: gray;
}
.btn{
    color: white;
}
.footer{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 20px;
    background-color: #494F55;
    padding-bottom:30px ;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.footerimg img{
    width: 200px;
}
.footerinfos{
    display: flex;
    gap: 20px;
}
.foottitle{
    margin-bottom: 10px;
}