body{
    color: white;
}
.userinfo{
    margin-bottom: 0;
}
.settinggyms {
    color: green;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid gray;
    margin: 5px;
    border-radius: 5px;
    padding: 2px 20px;
}
.par{
    text-align: center;
    font-size: 1.8rem;
}
.last{
    margin: 0 auto;
}
.details{
    margin: 10px;
}
.btn{
    width: 60vw;
    margin: 35px auto;
}